#header{
border:2px solid white;
background-color: black;
left:50%;
height:15%;
}
.formContainer{
 border:2px solid black;  
 position:relative; 
 top: -0.1%;
 height:70%;
 width:50%;
 left:25%;
}
#footer{
    border:2px solid white;
    background-color: black;
    left:50%;
    top:20%;
    height:15%;
    }